<%- include('header') %>

<div class="notificationWrapper">
  <div class="notificationCard">
    <p class="notificationHeading">The round is over!</p>
    <svg class="bellIcon" viewBox="0 0 496 512" aria-hidden="true" role="img" focusable="false">
      <path d="M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 456c-114.69 0-208-93.31-208-208S133.31 48 248 48s208 93.31 208 208-93.31 208-208 208zm0-112c52.94 0 95.84-43.06 103.2-96H144.8c7.36 52.94 50.26 96 103.2 96zm-88-136c17.67 0 32-14.33 32-32s-14.33-32-32-32-32 14.33-32 32 14.33 32 32 32zm176 0c17.67 0 32-14.33 32-32s-14.33-32-32-32-32 14.33-32 32 14.33 32 32 32z"></path>
    </svg>
    <p class="notificationPara">The winner is <strong><%= winnerName %></strong></p>
    <p class="notificationPara">Your points: <strong><%= userPoints %></strong></p>
    <div class="mt-auto text-center">
      <a href="/" class="btn btn-danger" id="backToHome" style="padding: 10px 20px; font-weight: bold;">Exit</a>
    </div>
  </div>
</div>

<%- include('footer') %>
